*.pyc
Data/
!README.md
Test/
Output/
!openbabel/test
.RData
.Rhistory
.Rproj.user
Notebooks/
.idea/
.codelite/
bin/
!openbabel/data/
ob_changes.patch
openbabel/installed
Resources/External/
emsdk_set_env.bat
openbabel/eminstall/
openbabel/embuild/
embin/

