*.pyc
Data/
!README.md
Test/
build/
dist/
Output/
Output_*/
TableOutput/
err_*.txt
pbs_out_*.txt
out_*.smi
jobid_*
Summary/
!openbabel/test
.RData
.Rhistory
.Rproj.user
Notebooks/
.idea/
.codelite/
.vscode/ipch/
bin/
!openbabel/data/
ob_changes.patch
openbabel/installed
Resources/External/
emsdk_set_env.bat
openbabel/eminstall/
openbabel/embuild/
embin/
*.stackdump
Python/paths\.py
MOFid.egg-info/
